/* ==|== normalize v1.1.2 =====================================================
   AUTHORS: Nicolas Gallagher / Jonathan Neal
   MIT License | git.io/normalize
   ========================================================================= */

/* HTML5 Display Definitions
---------------------------------------------------------------------------- */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }
audio, canvas, progress, video { display: inline-block; vertical-align: baseline; }
audio:not([controls]) { display: none; height: 0; }
[hidden], template { display: none; }

/* Base
---------------------------------------------------------------------------- */
html { font-size: 62.5%; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html * { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
html, body { overflow-x: hidden; }
body { margin: 0; }

/* Links
---------------------------------------------------------------------------- */
a { text-decoration: none; background: transparent; }
a:focus { outline: none; }
a:active, a:hover { outline: 0; }

/* Typography
---------------------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd { margin: 0; padding: 0; font-size: 10px; font-weight: 400; font-style: normal; line-height: 1; }
abbr[title] { border-bottom: 1px dotted; }
address { font-style: normal; }
b, strong { font-weight: bold; }
blockquote { margin: 0; }
dfn { font-style: italic; }
hr { -webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box; display: block; height: 1px; border: 0; padding: 0; }
mark { background: #ff0; color: #000; }
code, kbd, pre, samp { font-family: monospace, monospace; font-size: 10px; }
pre { overflow: auto; }
q { quotes: none; }
q:before, q:after { content: ''; content: none; }
small { font-size: 80%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

/* Lists
---------------------------------------------------------------------------- */
ul, ol { list-style: none; }
nav ul, nav ol { list-style-image: none; }

/* Embedded Content
---------------------------------------------------------------------------- */
img { max-width: 100%; height: auto; border: 0; }
audio, canvas, img, svg, video { display: block; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }

/* Figures
---------------------------------------------------------------------------- */
figure { margin: 0; }

/* Forms
---------------------------------------------------------------------------- */
button, input, optgroup, select, textarea { color: inherit; font: inherit; margin: 0; }
button { overflow: visible; }
button:focus { outline: none }
button, select { text-transform: none; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; }
button[disabled], html input[disabled] { cursor: default; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
input { line-height: normal; }
button, input, textarea { -webkit-appearance: none; border: 0; -webkit-border-radius: 0; border-radius: 0; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }
input[type="tel"] { -webkit-appearance: none; }
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { -webkit-appearance: none; margin: 0; height: auto; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
fieldset { margin: 0; padding: 0; border: 0; }
legend { border: 0; padding: 0; }
textarea { overflow: auto; }
optgroup { font-weight: bold; }
textarea { overflow: auto; vertical-align: top; resize: vertical; min-height: 120px; min-height: 12rem; max-height: 320px; max-height: 32rem; }
input:focus, select:focus, textarea:focus { outline: none; }
input:focus, input:required, input:invalid, textarea:focus, textarea:required, textarea:invalid { -webkit-box-shadow: none; box-shadow: none; }
::-moz-placeholder { opacity: 1 !important; }


/* Tables
---------------------------------------------------------------------------- */
table { border-collapse: collapse; border-spacing: 0; }
th { text-align: left; }
td, th { padding: 0; }


/* ==|== non-semantic helper classes ==========================================
   ========================================================================= */

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { clip: rect(0 0 0 0); overflow: hidden; position: absolute; margin: -1px; margin: -0.1rem; padding: 0; width: 1px; width: 0.1rem; height: 1px; height: 0.1rem; border: 0; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; overflow: visible; position: static; margin: 0; width: auto; height: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Clearfix: contain floats */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

/* Horizontal and vertical centering */
.outer-balance { display: table; overflow: hidden; width: 100%; height: 100%; }
.inner-balance { display: table-cell; vertical-align: middle; margin: 0 auto; width: 100%; text-align: center; }

/* Truncate text */
.truncate { overflow: hidden; padding-bottom: 0.2em; width: 100%; text-overflow: ellipsis; white-space: nowrap; }


/* ==|== bryston font =========================================================
   AUTHORS: Mandira Midha / CURTIS DULMAGE
   ========================================================================= */

/* LICENSE
 *
 * The Bryston webfont is property of Bryston Ltd and Mandira Midha.
 * You are not authorized to reuse this webfont in its entirety or any individual icon.
 *
 * Creation of the webfont was achieved using Icomoon's awesome HTML5 web app.
 * Much thanks to Icomoon for the awesome resource. Check them out:
 * http://icomoon.io/
 *
*/

/* Narmy Styles
---------------------------------------------------------------------------- */
@font-face {
	font-family: 'bryston';
	src:url('../fonts/bryston/bryston.eot?qd9kwr');
	src:url('../fonts/bryston/bryston.eot?#iefixqd9kwr') format('embedded-opentype'),
		url('../fonts/bryston/bryston.woff?qd9kwr') format('woff'),
		url('../fonts/bryston/bryston.ttf?qd9kwr') format('truetype'),
		url('../fonts/bryston/bryston.svg?qd9kwr#bryston') format('svg');
	font-weight: normal;
	font-style: normal;
}
i[data-icon]::before {
	font-family: 'bryston';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
i[data-icon="disk_sata"]::before {
	content: "\e600";
}
i[data-icon="disk_partition"]::before {
	content: "\e601";
}
i[data-icon="disk_network"]::before {
	content: "\e602";
}
i[data-icon="nav_tvmode"]::before {
	content: "\e603";
}
i[data-icon="nav_bradio"]::before {
	content: "\e604";
}
i[data-icon="nav_vfp"]::before {
	content: "\e605";
}
i[data-icon="nav_connected"]::before {
	content: "\e606";
}
i[data-icon="settings_system"]::before {
	content: "\e607";
}
i[data-icon="settings_disk-info"]::before {
	content: "\e608";
}
i[data-icon="settings_audio-devices"]::before {
	content: "\e609";
}
i[data-icon="settings_network-interfaces"]::before {
	content: "\e60a";
}
i[data-icon="settings_update-firmware"]::before {
	content: "\e60b";
}
i[data-icon="settings_mpd"]::before {
	content: "\e60c";
}
i[data-icon="settings_system-log"]::before {
	content: "\e60d";
}
i[data-icon="settings_startup-script"]::before {
	content: "\e60e";
}
i[data-icon="settings_nas-setup"]::before {
	content: "\e60f";
}
i[data-icon="settings_services"]::before {
	content: "\e610";
}
i[data-icon="settings_license"]::before {
	content: "\e611";
}
i[data-icon="song_previous"]::before {
	content: "\e612";
}
i[data-icon="song_next"]::before {
	content: "\e613";
}
i[data-icon="song_stop"]::before {
	content: "\e614";
}
i[data-icon="song_pause"]::before {
	content: "\e615";
}
i[data-icon="song_play"]::before {
	content: "\e616";
}
i[data-icon="song_shuffle"]::before {
	content: "\e617";
}
i[data-icon="song_repeat"]::before {
	content: "\e618";
}
i[data-icon="song_queued"]::before {
	content: "\e619";
}
i[data-icon="tri_eq-up"]::before {
	content: "\e61a";
}
i[data-icon="tri_eq-right"]::before {
	content: "\e61b";
}
i[data-icon="tri_eq-down"]::before {
	content: "\e61c";
}
i[data-icon="tri_eq-left"]::before {
	content: "\e61d";
}
i[data-icon="ui_arrow-right"]::before {
	content: "\e61e";
}
i[data-icon="ui_arrow-left"]::before {
	content: "\e61f";
}
i[data-icon="ui_volume-down"]::before {
	content: "\e620";
}
i[data-icon="ui_volume-up"]::before {
	content: "\e621";
}
i[data-icon="ui_plus"]::before {
	content: "\e622";
}
i[data-icon="ui_minus"]::before {
	content: "\e623";
}
i[data-icon="ui_checkmark"]::before {
	content: "\e624";
}
i[data-icon="ui_close"]::before {
	content: "\e625";
}
i[data-icon="ui_lock"]::before {
	content: "\e626";
}
i[data-icon="ui_unlock"]::before {
	content: "\e627";
}
i[data-icon="ui_more"]::before {
	content: "\e628";
}
i[data-icon="ui_search"]::before {
	content: "\e629";
}
i[data-icon="ui_info"]::before {
	content: "\e62a";
}
i[data-icon="ui_settings"]::before {
	content: "\e62b";
}
i[data-icon="ui_alert"]::before {
	content: "\e62c";
}
i[data-icon="view_default"]::before {
	content: "\e62d";
}
i[data-icon="view_song"]::before {
	content: "\e62e";
}
i[data-icon="view_artist"]::before {
	content: "\e62f";
}
i[data-icon="view_album"]::before {
	content: "\e630";
}


/* ==|== open sans font =======================================================
   AUTHORS: Steve Matteson
   ========================================================================= */

/* LICENSE
 *
 * The license for this font can be found in the same directory as the font files:
 * assets/fonts/open-sans/apache-license.txt
 *
*/

/* Open Sans
---------------------------------------------------------------------------- */
/* --- Light --- */
@font-face {
	font-family: 'open-sans';
	src: url('../fonts/open-sans/light/OpenSans-Light.eot');
	src: url('../fonts/open-sans/light/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/open-sans/light/OpenSans-Light.woff') format('woff'),
		 url('../fonts/open-sans/light/OpenSans-Light.ttf') format('truetype'),
		 url('../fonts/open-sans/light/OpenSans-Light.svg#open-sans') format('svg');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'open-sans';
	src: url('../fonts/open-sans/light/OpenSans-LightItalic.eot');
	src: url('../fonts/open-sans/light/OpenSans-LightItalic.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/open-sans/light/OpenSans-LightItalic.woff') format('woff'),
		 url('../fonts/open-sans/light/OpenSans-LightItalic.ttf') format('truetype'),
		 url('../fonts/open-sans/light/OpenSans-LightItalic.svg#open-sans') format('svg');
	font-weight: 300;
	font-style: italic;
}
/* --- Regular --- */
@font-face {
	font-family: 'open-sans';
	src: url('../fonts/open-sans/regular/OpenSans-Regular.eot');
	src: url('../fonts/open-sans/regular/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/open-sans/regular/OpenSans-Regular.woff') format('woff'),
		 url('../fonts/open-sans/regular/OpenSans-Regular.ttf') format('truetype'),
		 url('../fonts/open-sans/regular/OpenSans-Regular.svg#open-sans') format('svg');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'open-sans';
	src: url('../fonts/open-sans/regular/OpenSans-RegularItalic.eot');
	src: url('../fonts/open-sans/regular/OpenSans-RegularItalic.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/open-sans/regular/OpenSans-RegularItalic.woff') format('woff'),
		 url('../fonts/open-sans/regular/OpenSans-RegularItalic.ttf') format('truetype'),
		 url('../fonts/open-sans/regular/OpenSans-RegularItalic.svg#open-sans') format('svg');
	font-weight: 400;
	font-style: italic;
}
/* --- Semi Bold --- */
@font-face {
	font-family: 'open-sans';
	src: url('../fonts/open-sans/semi-bold/OpenSans-SemiBold.eot');
	src: url('../fonts/open-sans/semi-bold/OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/open-sans/semi-bold/OpenSans-SemiBold.woff') format('woff'),
		 url('../fonts/open-sans/semi-bold/OpenSans-SemiBold.ttf') format('truetype'),
		 url('../fonts/open-sans/semi-bold/OpenSans-SemiBold.svg#open-sans') format('svg');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'open-sans';
	src: url('../fonts/open-sans/semi-bold/OpenSans-SemiBoldItalic.eot');
	src: url('../fonts/open-sans/semi-bold/OpenSans-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/open-sans/semi-bold/OpenSans-SemiBoldItalic.woff') format('woff'),
		 url('../fonts/open-sans/semi-bold/OpenSans-SemiBoldItalic.ttf') format('truetype'),
		 url('../fonts/open-sans/semi-bold/OpenSans-SemiBoldItalic.svg#open-sans') format('svg');
	font-weight: 600;
	font-style: italic;
}
/* --- Bold --- */
@font-face {
	font-family: 'open-sans';
	src: url('../fonts/open-sans/bold/OpenSans-Bold.eot');
	src: url('../fonts/open-sans/bold/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/open-sans/bold/OpenSans-Bold.woff') format('woff'),
		 url('../fonts/open-sans/bold/OpenSans-Bold.ttf') format('truetype'),
		 url('../fonts/open-sans/bold/OpenSans-Bold.svg#open-sans') format('svg');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'open-sans';
	src: url('../fonts/open-sans/bold/OpenSans-BoldItalic.eot');
	src: url('../fonts/open-sans/bold/OpenSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/open-sans/bold/OpenSans-BoldItalic.woff') format('woff'),
		 url('../fonts/open-sans/bold/OpenSans-BoldItalic.ttf') format('truetype'),
		 url('../fonts/open-sans/bold/OpenSans-BoldItalic.svg#open-sans') format('svg');
	font-weight: 700;
	font-style: italic;
}
/* --- Extra Bold --- */
@font-face {
	font-family: 'open-sans';
	src: url('../fonts/open-sans/extra-bold/OpenSans-ExtraBold.eot');
	src: url('../fonts/open-sans/extra-bold/OpenSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/open-sans/extra-bold/OpenSans-ExtraBold.woff') format('woff'),
		 url('../fonts/open-sans/extra-bold/OpenSans-ExtraBold.ttf') format('truetype'),
		 url('../fonts/open-sans/extra-bold/OpenSans-ExtraBold.svg#open-sans') format('svg');
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: 'open-sans';
	src: url('../fonts/open-sans/extra-bold/OpenSans-ExtraBoldItalic.eot');
	src: url('../fonts/open-sans/extra-bold/OpenSans-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/open-sans/extra-bold/OpenSans-ExtraBoldItalic.woff') format('woff'),
		 url('../fonts/open-sans/extra-bold/OpenSans-ExtraBoldItalic.ttf') format('truetype'),
		 url('../fonts/open-sans/extra-bold/OpenSans-ExtraBoldItalic.svg#open-sans') format('svg');
	font-weight: 800;
	font-style: italic;
}
